dataset/cifar/cifar-10-batches-py/batches.meta
dataset/cifar/cifar-10-batches-py/data_batch_1
dataset/cifar/cifar-10-batches-py/data_batch_2
dataset/cifar/cifar-10-batches-py/data_batch_3
dataset/cifar/cifar-10-batches-py/data_batch_4
dataset/cifar/cifar-10-batches-py/data_batch_5
dataset/cifar/cifar-10-batches-py/readme.html
dataset/cifar100/cifar-100-python/file.txt~
dataset/cifar100/cifar-100-python/meta
dataset/cifar100/cifar-100-python/test
dataset/cifar100/cifar-100-python/train
dataset/cifar/cifar-10-batches-py/test_batch
dataset/cifar/trained_model/config.json
dataset/cifar/trained_model/model.safetensors
dataset/cifar/trained_model/preprocessor_config.json
dataset/cifar100/trained_model/config.json
dataset/cifar100/trained_model/model.safetensors
dataset/cifar100/trained_model/preprocessor_config.json
